@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
    margin: 0;
    padding: 0;
}

.navBar {
    background-color: white;
    padding: 10px;
    padding-left: 0px;
    
}

.navLinks {
    display: flex;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.navLinks a {
    text-decoration: none;
    color: #d2584e;
    font-family: "Montserrat", "sans-serif";
    font-weight: 500;
    font-size: 18px;
    padding: 10px;
    margin: 10px, 0px, 10px, 0px;
}

.navLinks a:hover {
    background-color: #6bb153;
    color: white;
}


.title {
    background-image: url('Assets/leafBackground.svg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    
}

h1 {
    margin: 0;
    font-family: "Montserrat", "sans-serif";
    font-size: 8em;
    color: white;
}

.goTo {
    background-color: #d2584e;
    border: none;
    padding: 10px 15px;
    font-family: "Montserrat", "sans-serif";
    font-size: 20px;
    text-align: center;
    color: white;
    border-radius: 15px;
    position: relative; 
    top: 50px;    
}

.goTo:hover {
    background-color: #6bb153;
    color: white;
}


.scrollDown {
    width: 30px;
    height: 30px;
    position: relative;
    top: 100px;
}

.scrollDown:hover {
    content: url('Assets/downArrowRed.svg');
}

.tutorial {
    background-image: url(Assets/leafBackground.svg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.scrollUp {
    margin-bottom: 10px;
    width: 30px;
    height: 30px;
    transform: rotate(180deg);
}

.scrollUp:hover {
    content: url('Assets/downArrowRed.svg');
    transform: rotate(180deg);
}

.tutorialWrapper {
    width: 80%;
    height: 80%;
    position: relative;
    background-color: rgba(226, 239, 238, 0.69);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.summary {
    width: 70%;
    height: 15%;
    background-color: #d2584e;
    border: none;
    padding: 10px 15px;
    font-family: "Montserrat", "sans-serif";
    font-size: 20px;
    text-align: center;
    color: white;
    border-radius: 50px;
    

}

/* WEBSITE TUTORIAL CAROUSEL */
.tutorialImage {
    width: 60%;
    height: 50%;
    background-color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 50px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.column1 {
    background-color: #6bb153;
    margin-left: 10%;
    width: 10%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.column2 {
    background-color: white;
    margin: 0;
    width: 60%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.column3 {
    background-color: #6bb153;
    margin-right: 10%;
    width: 10%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.previous {
    margin-bottom: 10px;
    width: 30px;
    height: 30px;
    transform: rotate(90deg);
}

.previous:hover {
    content: url('Assets/downArrowRed.svg');
    transform: rotate(90deg);
}

.next {
    margin-bottom: 10px;
    width: 30px;
    height: 30px;
    transform: rotate(270deg);
}

.next:hover {
    content: url('Assets/downArrowRed.svg');
    transform: rotate(270deg);
}

.tutorialText {
    width: 40%;
    height: 15%;
    background-color: #d2584e;
    border: none;
    padding: 10px 15px;
    font-family: "Montserrat", "sans-serif";
    font-size: 20px;
    text-align: center;
    color: white;
    border-radius: 50px;
}